@import url('https://fonts.googleapis.com/css?family=Chonburi|Fredericka+the+Great|Roboto:300|Sigmar+One&display=swap');

$primary-color:#2a253d;
$neutral-color: whitesmoke;
$accent-color:#0d5241;

.calendar{
    max-width: 30rem;
    background: $neutral-color;
    margin-left: 6rem;
    color: $primary-color;
    .month{
        padding: 1rem;
        h3{
            font-family: 'Sigmar One', cursive;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    .days{
        background-color: $accent-color;
        padding: 0.5rem 0;
        p{
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: $neutral-color;
            text-align: center;
            width: 100%;
        }
    }
    .body{
        .cell {
            width: 100%;
            height: 5rem;
            border-bottom: 1px solid lightgray;
            border-right: 1px solid lightgray;
            overflow: hidden;
            cursor: pointer;
            transition: 0.25s ease-out;
            p{
                font-family: 'Roboto', sans-serif;
                padding: .25rem;
            }
        }
        .disabled{
            color: $accent-color;
            background-color: rgba(211, 211, 211, 0.418);
            cursor: none;
        }
        .selected {
            p{
                font-family: 'Fredericka the Great', cursive;
                font-size: 30px;
                border-left: 4px solid transparent;
                border-image: linear-gradient(45deg, $primary-color 0%,$accent-color 40%);
                border-image-slice: 1;
                height: 100%;
            }
        }
    }
}
